* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	width: 100vw;
	height: 100vh;
}

body {
	background: #F45C43;
	background: linear-gradient(180deg, #F45C43 0%, #EB3349 100%);
	color: #FFF;
}
