.Navigation {
	display: flex;
	width: 40vw;
	align-items: center;
	justify-content: space-around;
}

@media (max-width: 1200px) {
	.Navigation {
		width: 50vh;
	}
}

@media (max-width: 800px) {
	.Navigation {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
