.Anchor {
	color: #FFF;
	transition: transform 0.2s ease-in-out;
}

.Anchor:active, .Anchor:focus, .Anchor:hover {
	transform: scale(1.3, 1.3);
}

@media (max-width: 800px) {
	.Anchor {
		margin-top: 1.5rem;
	}
}
