---
	import Anchor from "./Anchor/Anchor.js";
	import Navigation from "./Navigation/Navigation.js";
	import links from "../const/links.js";
---

<section class="section">
	<img class="logo" src="/assets/logo.svg" width="390" height="60" alt="hanascode's logo"/>
	<Navigation links={links}/>
</section>

<style>
	.section {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.logo {
		width: 60vw;
		height: auto;
		margin-bottom: 1rem;
		user-select: none;
	}

	@media (max-width: 800px) {
		.logo {
			width: 90vw;
			height: auto;
			margin: 0;
		}
	}
</style>
